* {
	margin:20%;
	text-align: center;
	box-sizing:
}
img {
	text-align: center;
	width: 80%;
	height: 50%;
	margin: 3% 10%;
}
h1 h2 {
	margin: 10% 10%;
	padding: 50%;
}
p {
	margin: 5% 10%;
}